*{
    /* border: 1px solid black; */
}
/* -- COLOR -- */
.blue{
    background-color: #2353ee;
}
.white-svg{
    fill: white;
}
.gray-svg{
    fill: #575555;
}
.orange-svg{
    fill: #e5933a;
}
.orange-rounded-svg{
    background-color: #fb5838;
    width: 20px;
    height: 20px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left: 0;
}
body{
    width: 100vw;
    height: 100vh;
    position: relative;
}
/* --- ASIDE --- */
#g-aside{
    /* margin-top: 60px; */
    width: 50px;
    height: calc(100vh - 60px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #182335;
    background-image: url(../img/sidebar-bg.png);
    padding-bottom: 70px;
    justify-content: space-between;
}
#g-aside a:hover{
    background-color: #9b9a9a;
}
/* --- ASIDE LARGE VERSION --- */
@media screen and (min-width: 992px) {
    #g-aside{
        width: 180px;
    }
}

/* --- CENTRAL --- */
#central{
    position: fixed;
    top: 60px;
    right: 0;
    left: 50px;
    background-color: #f8f9fa;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding: 20px; */
}
#central-c{
    padding: 5px;
}
/* .offcanvas{
    width: 1000px;
} */
.offcanvas-body label{
    height: 40px;
    display: flex;
    align-items: end;
}
.blue a{
    background-color: #163dbc;
}

/* stato central table */

/* --- CENTRAL LARGE VERSION --- */
@media screen and (min-width: 992px) {
    #central{
        left: 180px;
    }

}